{block content}
	<section id="story" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<h2>Taky jste to zažili?</h2>
				<p class="perex mobile-only">Jdete z práce, utahaní, máte chuť zapadnout do křesla a ponořit se do kvalitního filmu. Nechcete však procházet množství zastaralých webů?</p>
				<div class="row not-mobile columns">
					<p class="perex column">Jdete z práce, utahaní, máte chuť zapadnout do křesla, uvelebit se, zapomenout na starosti a ponořit se do kvalitního filmu v kvalitním kině. Jenže co a kde se právě promítá?</p>
					<p class="perex column">Vyťukáte pracně na mobilu první adresu nejbližšího kina. Nic, nezajímá mě to. Další kino. Špatná adresa. Google. Šup a jsem na programu. Zase nic... Ach jo. Do multiplexu ne, takže si zase jen pustím něco doma.</p>				
				</div>
				<p class="underline">Všichni to známe. Ale jde to i jinak! Máme pro vás ArtKina. Aplikaci pro iOS a Android, kterou jsme si primárně připravili pro sebe v GoodShape a která vám pomůže vybrat ten správný film ve vašem oblíbeném kině. Ale proč to nedat všem?<br />A zadarmo!</p>
				<div class="watches"></div>
				<div class="download-arrows">
					<a class="js-track" data-ga-category="Story / Link" data-ga-action="Click" data-ga-label="App Store" href="http://bit.ly/aiosweb" target="_blank" id="download-arrow-apple">&nbsp;</a>
					<a class="js-track" data-ga-category="Story / Link" data-ga-action="Click" data-ga-label="Google Play" href="http://bit.ly/akgpweb" target="_blank" id="download-arrow-android">&nbsp;</a>
				</div>
			</div>
		</div>
	</section>
	<section id="function" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<h2>Jak to funguje?</h2>
				<div class="row">
					<div class="function-item" id="f-program">
						<h3>Aktuální program</h3>
						<p>Nevíte kam?<br />V přehledném výpisu najdete aktuálně hrané filmy ve vybraných kinech, datum a čas projekce, i cenu.</p>
					</div>
					<div class="function-item" id="f-notifications">
						<h3>Upozornění</h3>
						<p>Nechcete zmeškat projekci filmu? Není nic jednoduššího, než si u filmu nastavit, jak dlouho před začátkem projekce chcete být upozorněni. (Pak už stačí jen utíkat do kina :))</p>
					</div>
					<div class="function-item" id="f-filter">
						<h3>Filtr kin</h3>
						<p>Zajímá vás program pouze vybraných kin?<br />V nastavení si jednoduše označte u jakých kin chcete program aktualizovat.</p>
					</div>
					<div class="function-item" id="f-detail">
						<h3>Detail filmů</h3>
						<p>Pokud nevíte na co jít?<br />ArtKina nabízí u každého filmu stručný popis, obrázek, rok vzniku, ČSFD hodnocení a další užitečné údaje.</p>
					</div>
					<div class="function-item" id="f-search">
						<h3>Hledání</h3>
						<p>Zajímá vás konkrétní film? Pro snazší orientaci můžete filmy hledat podle názvu.</p>
					</div>
					<div class="let-us-know">
						<p>Chybí vám něco v aplikaci? Pomozte nám udělat ArtKina tak jak chcete vy a napište nám své nápady na <a href="mailto:info@artkina.cz">info@artkina.cz</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<div class="row">
					<div class="step-one"><h2>Sbíráme programy z artových kin</h2>
						<p class="not-mobile">Rádi chodíme do artových kin jako je Atlas, Mat, Evald nebo Lucerna. Ale často už nemáme sílu projít program všech kin než se dohledáme té správné projekce. ArtKina nám výběr konečně usnadní!</p>
					</div>
					<div class="step-two"><h2>Zobrazujeme vám jen jeden program kin</h2>
						<p class="not-mobile">V přehledném chronologickém seznamu aktuálně promítaných filmů jasně vidíte co už stihnete a co ne. A pokud film neznáte, pak si o něm něco v rychlosti můžete přečíst. (Třeba během jízdy v tramvaji.)</p>
					</div>
					
					<h4>Podporovaná kina</h4>
					<div class="supported-cinemas">
						<div class="cinemas-list">
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Kino Aero" href="http://www.kinoaero.cz" target="_blank"><img src="{$basePath}/img/kino-aero.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Kino Atlas" href="http://www.kinoatlas.cz" target="_blank"><img src="{$basePath}/img/kino-atlas.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Bio Oko" href="http://www.biooko.net" target="_blank"><img src="{$basePath}/img/kino-biooko.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Evald" href="http://www.evald.cz" target="_blank"><img src="{$basePath}/img/kino-evald.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Kino Mat" href="http://www.kino-mat.cz" target="_blank"><img src="{$basePath}/img/kino-mat.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Svetozor" href="http://www.kinosvetozor.cz" target="_blank"><img src="{$basePath}/img/kino-svetozor.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Minikino" href="http://www.minikino.cz/" target="_blank"><img src="{$basePath}/img/kino-minikino.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Lucerna - Brno" href="http://www.kinolucerna.info/" target="_blank"><img src="{$basePath}/img/kino-lucerna_brno.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Skala" href="http://www.kinoscala.cz/" target="_blank"><img src="{$basePath}/img/kino-kinoskala.png" /></a>
							<a class="js-track" data-ga-category="About / Link" data-ga-action="Click" data-ga-label="Kino Art" href="http://www.kinoart.cz/" target="_blank"><img src="{$basePath}/img/kino-kino-art.png" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<div class="bg-footer">

	<section id="download" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<h2>Ke stažení</h2>
				<div class="row">
					<a data-ga-category="Download / Link" data-ga-action="Click" data-ga-label="App Store" href="http://bit.ly/aiosweb" target="_blank" class="js-track sprite ios ios-small-inactive">App Store</a>
					<a data-ga-category="Download / Link" data-ga-action="Click" data-ga-label="Google Play" href="http://bit.ly/akgpweb" target="_blank" class="js-track sprite android android-small-inactive">Google Play</a>
				</div>
			</div>
		</div>
	</section>
	<section id="reviews" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<div class="row">
					<div class="comment-item">
						<img src="{$basePath}/img/avatar-swan.png" />
						<div class="comment-message">
							<p>Prehledna, uzitecna, intuitivni -- co vic si prat?</p>
							<span class="author">Bambule bambulova</span><img src="{$basePath}/img/stars.png" class="stars" />
						</div>
					</div>
					<div class="comment-item">
						<img src="{$basePath}/img/avatar-vrchni.png" />
						<div class="comment-message">
							<p>Rychlý, přehledný a hezký :-)</p>
							<span class="author">Dataapex</span><img src="{$basePath}/img/stars.png" class="stars" />
						</div>
					</div>
					<span class="clear" /></span>
					<div class="comment-item">
						<img src="{$basePath}/img/avatar-pusher.png" />
						<div class="comment-message">
							<p>Skvělý program kin. Jediné co mi chybí je Ponrepo a Lucerna. Snad půjdou <abbr title="Pracujeme na tom!">někdy přidat</abbr>.</p>
							<span class="author">Max N.</span><img src="{$basePath}/img/stars.png" class="stars" />
						</div>
					</div>
					<div class="comment-item">
						<img src="{$basePath}/img/avatar-matrix.png" />
						<div class="comment-message">
							<p>Nemusim se prohrabavat multikiny a taky je super razeni podle casu. Clovek casto neresi kino a spis cas kdy pujde. Diky</p>
							<span class="author">Charvyburger</span><img src="{$basePath}/img/stars.png" class="stars" />
						</div>
					</div>
					<span class="clear" /></span>
					<div class="comment-item">
						<img src="{$basePath}/img/avatar-the-godfather.png" />
						<div class="comment-message">
							<p>Jo, konečně se nemusím prehrabovat haldou Transformerů, hororů a Expandebilos. Jednoduché, graficky čisté. Co takhle to samé pro <abbr title="Díky za nápad, máme to v plánu :)">jazz/blues bary a koncerty&hellip;</abbr></p>
							<span class="author">Jarka Metelka</span><img src="{$basePath}/img/stars.png" class="stars" />
						</div>
					</div>
					<div class="comment-item">
						<img src="{$basePath}/img/avatar-ripley.png" />
						<div class="comment-message">
							<p>Appka má jednoduchý, ale promyšlený design a hlavně vysokou uživatelskou propracovanost. Možnost filtrace kin dle města (Pha, Brno, Ova) i v rámci oblíbenosti jednotlivých kin, výpis časů začátku promítání rázem chronologicky za sebe.</p>
							<span class="author">Kateřina V.</span><img src="{$basePath}/img/stars.png" class="stars" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="subfooter" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<div class="row">
					<div class="thankyou">
						Thank You for scrolling
					</div>
					<a class="js-track gs" data-ga-category="Subfooter / Logo" data-ga-action="Click" data-ga-label="GoodShape" href="http://www.goodshape.cz/" target="_blank">GoodShape</a>
					<h3>Autoři aplikace</h3>
					
					<p>Jsme <a class="js-track" data-ga-category="Subfooter / Link" data-ga-action="Click" data-ga-label="GoodShape" href="http://www.goodshape.cz" target="_blank">GoodShape</a>. Kreativní internetová agentura. Vytváříme webové prezentace, mobilní aplikace a online marketingové strategie. Nedodáváme obyčejné služby. Klademe velký důraz na design produktu, precizní technické provedení a následnou marketingovou strategii. Protože jen dechberoucí design a uživatelsky přívětivé prostředí z vašeho webu udělá web výjimečný. A přesně takové služby poskytujeme.</p>
					
					<p class="copy">Copyright 2014 &copy; GoodShape, s.r.o.</p>
				</div>
			</div>
		</div>
	</section>