<html>
<head>
    <title>ArtKina - API</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/js/shCore.js"></script>
    <script type="text/javascript" src="{$basePath}/js/shBrushJScript.js"></script>
    <script type="text/javascript" src="{$basePath}/js/shBrushXml.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="/css/shCoreDefault.css" rel="stylesheet" type="text/css" />
    <style>
        table td, table th{
            padding: 3px 10px;
            border: 1px solid #CCC;
        }
    </style>
</head>
<body>
<div class="container-fluid">
{block content}{/block}
</div>
</body>
</html>