{block content}
    <h1>ArtKina - API</h1>
    <h2>Podporovaná kina</h2>
    <table style="text-align: center; width: auto" class="table table-condensed table-striped">
        <tr>
            <th>Název</th>
            <th>Slug</th>
            <th>Stav</th>
        </tr>
        <tr n:foreach="$cinemas as $cinema">
            <td>{$cinema->name}</td>
            <td>{$cinema->slug}</td>
            <td>{if $cinema->active == 1}aktivní{else}nekativní{/if}</td>
        </tr>
    </table>
<h2>Vzor datového zdroje</h2>
<a n:href="import">{plink //import}</a>
<h2>API Endpoints</h2>
<table class="table table-condensed table-striped">
    <tr>
        <th>Akce</th>
        <th>HTTP method</th>
        <th>Url</th>
        <th>Příklad</th>
    </tr>
    <tr>
        <td>Výpis kin</td>
        <td>GET</td>
        <td><a target="_blank" href="{plink //Cinema:default}">{plink //Cinema:default}</a></td>
        <td></td>
    </tr>
    <tr>
        <td>Detail kina</td>
        <td>GET</td>
        <td>{plink //Cinema:detail}/SLUG</td>
        <td><a target="_blank" href="{plink //Cinema:detail biooko}">{plink //Cinema:detail biooko}</a></td>
    </tr>
    <tr>
        <td>Promítání kina/kin</td>
        <td>GET</td>
        <td>{plink //Projection:list}/SLUG,SLUG[/UNTIL_DATE/SINCE_DATE]</td>
        {var until = new \Nette\DateTime("+7 days")}
        <td><a target="_blank" href="{plink //this}/projection/list/{foreach $cinemas as $cinema}{$cinema->slug}{if !$iterator->last},{/if}{/foreach}/{$until->format("Y-m-d")}">{plink //this}/projection/list/{foreach $cinemas as $cinema}{$cinema->slug}{if !$iterator->last},{/if}{/foreach}/{$until->format("Y-m-d")}</a></td>
    </tr>
    <tr>
        <td>Detail filmu</td>
        <td>GET</td>
        <td>{plink //Movie:detail}/MOVIE_ID</td>
        <td><a target="_blank" href="{plink //Movie:detail 1}">{plink //Movie:detail 1}</a></td>
    </tr>
    <tr>
        <td>Obrázky</td>
        <td>GET</td>
        <td>{plink //Image:default}/WIDTH/HEIGHT/FILENAME[/crop]</td>
        <td><a target="_blank" href="{plink //Image:default width => "300", height => "350", filename => "film-6296-svetozor.jpg"}">{plink //Image:default width => "300", height => "350", filename => "film-6296-svetozor.jpg"}</a></td>
    </tr>
    <tr>
        <td>Log UUID</td>
        <td>POST</td>
        <td>{plink //Client:newInstall}</td>
        <td>POST parametr: (string) uuid</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center;"><strong>Notifikace</strong></td>
    </tr>
    <tr>
        <td>Přidat</td>
        <td>GET</td>
        <td>{plink //Notification:add}/TYPE/USER_ID/PROJECTION_ID/MINUTES</td>
        <td><a target="_blank" href="{plink //Notification:add type => "ios", userId => 1, projectionId => 1, minutes => 180}">{plink //Notification:add type => "ios", userId => 1, projectionId => 1, minutes => 180}</a></td>
    </tr>
    <tr>
        <td>Odebrat</td>
        <td>GET</td>
        <td>{plink //Notification:delete}/NOTIFICATION_ID</td>
        <td><a target="_blank" href="{plink //Notification:delete notifId => 1}">{plink //Notification:delete notifId => 1}</a></td>
    </tr>
    <tr>
        <td>Výpis aktivních</td>
        <td>GET</td>
        <td>{plink //Notification:active}/USER_ID</td>
        <td><a target="_blank" href="{plink //Notification:active userId => 1}">{plink //Notification:active userId => 1}</a></td>
    </tr>
    <tr>
        <td>Detail</td>
        <td>GET</td>
        <td>{plink //Notification:get}/NOTIFICATION_ID</td>
        <td><a target="_blank" href="{plink //Notification:get notifId => 1}">{plink //Notification:get notifId => 1}</a></td>
    </tr>
    <tr>
        <td>Upravit</td>
        <td>GET</td>
        <td>{plink //Notification:edit}/NOTIFICATION_ID/MINUTES</td>
        <td><a target="_blank" href="{plink //Notification:edit notifId => 1, minutes => 180}">{plink //Notification:edit notifId => 1, minutes => 180}</a></td>
    </tr>

    <tr>
        <td colspan="4" style="text-align: center;"><strong>Promítání</strong></td>
    </tr>
    <tr>
        <td>Výpis promítání</td>
        <td>GET</td>
        <td>{plink //this}projection/list/SLUG,SLUG[/UNTIL_DATE/SINCE_DATE]</td>
        {var until = new \Nette\DateTime("+7 days")}
        <td><a target="_blank" href="{plink //this}/projection/list/kinoskala,minikino,aero,biooko,svetozor/{$until->format("Y-m-d")}">{plink //this}/projection/list/kinoskala,minikino,aero,biooko,svetozor/{$until->format("Y-m-d")}</a></td>
    </tr>

</table>
    <br/>
<strong>Proměnné jsou psané VERZÁLKAMI</strong><br/>
<strong>Proměnné ve hranatých závorkách jsou nepovinné</strong>
{/block}