{block content}
    <h1>Export programu</h1>
    <p><strong>Formát URL:</strong> http://domena.cz/export/{l}DAY{r}</p>
    <p>DAY je ve formátu YYYY-MM-DD</p>
    <p><strong>Příklad:</strong> http://domena.cz/export/2014-03-26</p>
    <br/>
    <p><strong>Výpis dat je ve formátu JSON</strong></p>
    <br/>
    <h2>Odpověď serveru:</h2>
    <h3>JSON varianta</h3>
    <a n:href="exampleDownload! json">Stáhnout vzor</a> - <a href="http://bit.ly/1s4IMf">JSON editor</a>
    <pre class="brush: js">{include ./example.json|escape}</pre>
    <h3>XML varianta</h3>
    <a n:href="exampleDownload! xml">Stáhnout vzor</a>
    <pre class="brush: xml">{include ./example.xml|escape}</pre>
    <br/>
    <h2>Proměnné</h2>
    <table style="width: auto" class="table table-condensed table-striped">
        <tr>
            <td colspan="3"><strong>movies</strong> (informace o filmu) - pole filmů</td>
        </tr>
        <tr>
            <td>movies[].title.cs</td>
            <td>Český název filmu</td>
            <td>POVINNÁ PROMĚNNÁ</td>
        </tr>
        <tr>
            <td>movies[].title.original</td>
            <td>Originální název filmu</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].year</td>
            <td>Rok uvedení filmu (kdy byla premiera)</td>
            <td>POVINNÁ PROMĚNNÁ</td>
        </tr>
        <tr>
            <td>movies[].description</td>
            <td>Popis filmu</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].image</td>
            <td>URL k obrázku/plakátu filmu</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].director</td>
            <td>Jméno režiséra</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].country</td>
            <td>Země původu (ISO kód země - CZ, US, GB...)</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].length</td>
            <td>Délka filmu v minutách</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].rated</td>
            <td>Věková dostupnost</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"><strong>movies[].projections</strong> (informace o promítání)</td>
        </tr>
        <tr>
            <td>movies[].projections[].time</td>
            <td>Čas promítání ve formátu YYYY-mm-dd HH:mm</td>
            <td>POVINNÁ PROMĚNNÁ</td>
        </tr>
        <tr>
            <td>movies[].projections[].audio</td>
            <td>Znění filmu (ISO kód jazyka - cs, en, pl...)</td>
            <td>POVINNÁ PROMĚNNÁ</td>
        </tr>
        <tr>
            <td>movies[].projections[].subtitles</td>
            <td>Jazyk titulků (ISO kód jazyka - cs, en, pl...)</td>
            <td></td>
        </tr>
        <tr>
            <td>movies[].projections[].price</td>
            <td>Cena</td>
            <td>POVINNÁ PROMĚNNÁ</td>
        </tr>
    </table>
    <br/>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
{/block}