<!DOCTYPE html>
<html lang="cs" class="no-js" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8" />
	<meta name='apple-itunes-app' content='app-id=893413610'>
	<title>ArtKina - Aplikace pro Android a iOS | přehledný program artových kin do kapsy</title>
	
	<meta name="description" content="ArtKina jsou aplikací pro iOS a Android zařízení, kde najdete aktuální program tzv. artových kin v Praze, Brně a Ostravě.">
	<meta name="keywords" content="kino, program kina, program kin, světozor, aero, bio oko, kino atlas, evald, kino mkino scala, minikino, lucerna brno">
	<meta name="author" content="Goodshape, s.r.o.">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<meta property="og:title" content="ArtKina - Aplikace pro Android a iOS | přehledný program artových kin do kapsy" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.artkina.cz" />
	<meta property="og:image" content="{$basePath}/img/fb-share.png" />

	
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/default.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/print.css" media="print" />

	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://use.typekit.net/iyy2eod.js"></script>
	<script type="text/javascript" n:syntax="off">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript" src="{$basePath}/js/min/default-min.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
	  <noscript><link rel="stylesheet" type="text/css" href="{$basePath}/css/ie.css" /></noscript>
	<![endif]-->
	<script type="text/javascript">var switchTo5x=true;</script>
	<script n:syntax="off">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-40733905-3', 'auto');
	  ga('send', 'pageview');

	</script>
</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<nav>
		<div class="wrapper">
			<ul>
				<li><a href="#header" class="active js-track" data-wp="header" data-ga-category="Topnav / Link" data-ga-action="Click" data-ga-label="Art Kina">Art Kina</a></li>
				<li><a href="#story" data-wp="story" class="js-track" data-ga-category="Topnav / Link" data-ga-action="Click" data-ga-label="Příběh">Zkušenost</a></li>
				<li><a href="#function" data-wp="function" class="js-track" data-ga-category="Topnav / Link" data-ga-action="Click" data-ga-label="Jak to funguje">Jak to funguje</a></li>
				<li><a href="#download" data-wp="download" class="js-track" data-ga-category="Topnav / Link" data-ga-action="Click" data-ga-label="Stáhnout">Stáhnout</a></li>
				<li><a href="#reviews" data-wp="reviews" class="js-track" data-ga-category="Topnav / Link" data-ga-action="Click" data-ga-label="Recenze">Recenze</a></li>
				<li><a href="#subfooter" data-wp="subfooter" class="js-track" data-ga-category="Topnav / Link" data-ga-action="Click" data-ga-label="O autorech">O autorech</a></li>
			</ul>
		</div>
	</nav>
	<header id="header" class="waypoint">
		<div class="wrapper">
			<div class="inner">
				<h1>Art&nbsp;Kina</h1>
				<div class="left-column">
					<h2>Přehledný program<br /> artových kin do&nbsp;kapsy.</h2>
					<p>Patří kina <strong>Světozor, Aero nebo Oko</strong> mezi vaše oblíbená? Pak takhle praktická věc nesmí chybět ve vašem mobilu či tabletu.<br />
					<br />
					V aplikaci naleznete jak informace o promítání a ceně, tak detailní popisy filmů. Nechcete si nechat ujít konkrétní film? 
					Notifikace vám projekci jednoduše připomene.<br />
					<br />
					Vyhledávat můžete v programu art kin těchto tří měst: <strong>Praha, Brno, Ostrava</strong>.<br />
					Programy z dalších měst pro vás chystáme.</span>
					<br /><br /><strong class="upper">Ke stažení zdarma</strong></p>
					<div class="download-button">
						<a class="js-track" data-ga-category="Header / Link" data-ga-action="Click" data-ga-label="App Store" href="http://bit.ly/aiosweb" target="_blank" id="appstore">App<br /> store</a>
						<a class="js-track" data-ga-category="Header / Link" data-ga-action="Click" data-ga-label="Google Play" href="http://bit.ly/akgpweb" target="_blank" id="googleplay">Google<br /> Play</a>
					</div>
					<div class="social-buttons">

						<div class="fb-button">
							<div class="fb-like" data-href="http://www.artkina.cz" data-width="56" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
						</div>
						<div class="tw-button">
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.artkina.cz" data-lang="cs" data-count="vertical">Tweet</a>
							<script n:syntax="off">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
					</div>
				</div>

				<div class="slideshow">
					<ul class="pager">
						<li><a class="js-track active" data-ga-category="Header / Slider" data-ga-action="Click" data-ga-label="Slide 1" href="#" data-slider-number="1">1</a></li>
						<li><a class="js-track" data-ga-category="Header / Slider" data-ga-action="Click" data-ga-label="Slide 2" href="#" data-slider-number="2">2</a></li>
						<li><a class="js-track" data-ga-category="Header / Slider" data-ga-action="Click" data-ga-label="Slide 3" href="#" data-slider-number="3">3</a></li>
						<li><a class="js-track" data-ga-category="Header / Slider" data-ga-action="Click" data-ga-label="Slide 4" href="#" data-slider-number="4">4</a></li>
						<li><a class="js-track" data-ga-category="Header / Slider" data-ga-action="Click" data-ga-label="Slide 5" href="#" data-slider-number="5">5</a></li>
					</ul>
					<div class="slides">
						<img src="{$basePath}/img/slide-1.png" alt="" class="slide-1" data-slide="1" />
						<img src="{$basePath}/img/slide-2.png" alt="" class="slide-2" data-slide="2" />
						<img src="{$basePath}/img/slide-3.png" alt="" class="slide-3" data-slide="3" />
						<img src="{$basePath}/img/slide-4.png" alt="" class="slide-4" data-slide="4" />
						<img src="{$basePath}/img/slide-5.png" alt="" class="slide-5" data-slide="5" />
					</div>
				</div>
			</div>
		</div>
	</header>
	{block content}{/block}
	<footer>
		<div class="wrapper">
			<div class="inner">
				<div class="row">
					<a class="js-track" data-ga-category="Footer / Link" data-ga-action="Click" data-ga-label="Changelog" href="{$basePath}/changelog.md" target="_blank">Changelog</a> |
					Našli jste chybu? Narazili jste na problém?
					<a class="js-track" data-ga-category="Footer / Link" data-ga-action="Click" data-ga-label="Support email" href="mailto:podpora@artkina.cz">podpora@artkina.cz</a>
					<div class="right-social">
						<a class="js-track" data-ga-category="Footer / Link" data-ga-action="Click" data-ga-label="Facebook" href="https://www.facebook.com/artkina.cz" target="_blank" id="social-fb"></a>
						<!--
						<a href="#" id="social-tw"></a>
						<a href="#" id="social-gplus"></a>
						<a href="#" id="social-pin"></a>
						//-->
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

</body>
</html>
