body {
	font-family: "futura-pt", Calibri, sans-serif;
	font-size: 20px;
	color: #fff;
	background: #cfb595;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

*[data-href] {
	cursor: pointer;
}
.waypoint:before {
	@media (min-width: 721px) {
		content:"";
		display: block;
		height: 85px;
		margin: -85px 0 0 0;
	}
}
nav {
	.clearfix;
	border-bottom: 1px solid #e9d2bf;
	position: fixed;
	display: none;
	width: 100%;
	background: #cfb696;
	z-index: 10000000;
	@media (min-width: 721px) {
		display: block;
	}
	.wrapper {
		width: 670px;
		margin: auto;
		position: relative;
		@media (min-width: 1261px) {
			width: 900px;
		}
		ul {
			.column(16);
			margin: 0 0 0 15px;
			padding: 0;
			li {
				list-style-type: none;
				display: inline-block;
				margin: 0;
				padding: 0;
				a {
					color: #fbfaf8;
					border: 3px solid transparent;
					font-size: 16px;
					line-height: 16px;
					text-transform: uppercase;
					padding: 8px 9px;
					margin: 18px 0 20px 0;
					text-decoration: none;
					display: block;
					&:hover {
						color: #fbfaf8;
						border: 3px solid #fbfaf8;
					}
					&.active {
						font-weight: bold;
						border: 3px solid #fbfaf8;
					}
				}
			}
		}
	}
}
header {
	width: 100%;
	margin-top: 40px;
	@media (min-width: 721px) {
		margin-top: 80px;
	}
	.wrapper {
		margin: auto;
		width: 320px;
		position: relative;
		.clearfix;
		@media (min-width: 721px) {
			width: 720px;
		}
		@media (min-width: 1261px) {
			width: 1260px;
		}
		.inner {
			.column(16);
			.row {
				.row(16);
			}
			h1 {
				font-size: 71px;
				line-height: 70px;
				color: #fbf9f7;
				text-transform: uppercase;
				font-weight: 400;
				margin: 0;
				text-align: center;
				@media (min-width: 721px) {
					font-size: 150px;
					line-height: 150px;
					margin:  0 0 20px 30px;
				}
				@media (min-width: 1261px) {
					font-size: 270px;
					padding: 40px 0 26px 0;
					text-align: center;
					letter-spacing: 13px;
				}
			}
			h2 {
				font-size: 21px;
				line-height: 25px;
				font-weight: 500;
				text-transform: uppercase;
				@media (min-width: 721px) {
					font-size: 28px;
					line-height: 34px;
				}
				@media (min-width: 1261px) {
					font-size: 34px;
					line-height: 44px;
					.push(4);
				}
			}
			p {
				@media (min-width: 721px) {
					font-size: 18px;
					line-height: 27px;
				}
				@media (min-width: 1261px) {
					font-size: 20px;
					line-height: 30px;
					.push(4);
				}
			}
			.left-column{
				.column(16);
				position: relative;
				z-index: 100;
				.upper { text-transform: uppercase; font-size: 17px; }
				@media (min-width: 721px) {
					.column(7);
				}
				@media (min-width: 1261px) {
					.column(8);
					margin-left: 31px;
				}
				.download-button {
					display: block;
					background: url('../img/bg-download.png') top left no-repeat;
					position: relative;
					width: 302px;
					height: 82px;
					margin: auto;
					font-size: 18px;
					@media (min-width: 721px) {
						background: url('../img/bg-download-tablet.png') top left no-repeat;
						width: 370px;
						height: 114px;
						font-size: 20px;
					}
					@media (min-width: 1261px) {
						margin-left: 158px;
						margin-top: 19px;
					}
					a {
						color: #fcf0f0;
						text-transform: uppercase;
						padding: 20px;
						&#appstore {
							width: 72px;
							height: 52px;
							display: block;
							position: absolute;
							top: 0px;
							left: 93px;
							padding: 15px;
							@media (min-width: 721px) {
								width: 85px;
								height: 60px;
								top: 5px;
								left: 114px;
								padding: 20px;
							}
							&:hover {
								background: url('../img/hover-left.png') top left no-repeat;
								@media (min-width: 721px) {
									background: url('../img/bg-download-appstore.png') top left no-repeat;
								}
							}
						}
						&#googleplay {
							width: 77px;
							height: 52px;
							display: block;
							position: absolute;
							top: 0px;
							left: 195px;
							padding: 15px;
							@media (min-width: 721px) {
								width: 90px;
								height: 60px;
								top: 5px;
								left: 240px;
								padding: 20px;
							}
							&:hover {
								background: url('../img/hover-right.png') top left no-repeat;
								@media (min-width: 721px) {
									background: url('../img/bg-download-googleplay.png') top left no-repeat;
								}
							}
						}
					}
				}
			}
			.social-buttons {
				width: 240px;
				margin: 20px auto;
				text-align: center;
				.fb-button { width: 50px; display: inline-block; }
				.tw-button { width: 56px; display: inline-block; }
				@media (min-width: 721px) {
					display: block;
					width: 84px;
					height: 254px;
					padding-left: 10px;
					padding-top: 20px;
					position: fixed;
					right: 0;
					top: 90px;
					background: url('../img/right-social.png') top left no-repeat;
					.fb-button { width: 50px; margin: 30px auto 0 auto; }
					.tw-button { width: 56px; margin: 30px auto 0 auto; }
				}
				@media (min-width: 1261px) {
					width: 84px;
					height: 254px;
					position: fixed;
					right: auto;
					left: 0;
					top: 300px;
					padding-left: 2px;
					padding-right: 10px;
					background: url('../img/left-social.png') top left no-repeat;
					.fb-button { width: 50px; margin: 30px auto 0 auto; }
					.tw-button { width: 56px; margin: 30px auto 0 auto; }
				}
			}
			.slideshow {
				display: none;
				@media (min-width: 721px) {
					display: block;
					position: absolute;
					right: 30px;
					.column(8);
					background: url('../img/bg-iphone-tablet.png') center center no-repeat;
					height: 657px;
					top: 327px;
				}
				@media (min-width: 1261px) {
					background: url('../img/bg-iphone.png') top left no-repeat;
					right: -60px;
					top: 298px;
				}
				@media (max-width: 1260px) {
					.slides { display: none; }
				}
				img {
					display: none;
					position: absolute;
					top: 119px;
					@media (min-width: 1261px) {
						display: block;
						.opacity(0);
						&:first-of-type { .opacity(1); }
						right: 272px;
					}
				}
				.pager {
					display: none;
					@media (min-width: 1261px) {
						display: block;
						position: absolute;
						bottom: -10px;
						left: 364px;
					}
					li {
						a {
							color: #fff;
							text-decoration: none;
							display: block;
							height: 20px;
							width: 20px;
							text-align: center;
							line-height: 20px;
							&.active {
								background: url('../img/pager-active.png') top left no-repeat;
							}
						}
					}
				}
			}
		}		
	}
}
section {
	width: 100%;
	.clearfix;
	.wrapper {
		width: 320px;
		margin: auto;
		.clearfix;
		ovreflow: hidden;
		@media (min-width: 721px) {
			width: 720px;
		}
		@media (min-width: 1261px) {
			width: 1260px;
		}
		.inner {
			.column(15);
			.clearfix;
			.row {
				.row(15);
				position: relative;
			}
		}
	}
	&#story {
		width: 320px;
		background: #fff url('../img/bg-story.png') top center repeat-y;
		position: relative;
		margin: 50px auto 0;
		.clearfix;
		@media (min-width: 721px) {
			width: 720px;
			background: url('../img/bg-story-tablet.png') top center repeat-y;
		}
		@media (min-width: 1261px) {
			width: 1260px;
			background: url('../img/bg-story-desktop.png') top center repeat-y;
			margin-top: 75px;
		}
		&:before {
			background: transparent url('../img/top-story.png') top center no-repeat;
			position: absolute;
			top:-37px;
			left: 0;
			width: 320px;
			height: 37px;
			@media (min-width: 721px) {
				width: 720px;
				top: 50px;
				background: transparent url('../img/bg-story-top-tablet.png') top center no-repeat;
			}
			@media (min-width: 1261px) {
				width: 1260px;
				top: 50px;
				background: transparent url('../img/bg-story-top-desktop.png') top center no-repeat;
				height: 45px;
			}
		}
		&:after {
			background: transparent url('../img/bottom-story.png') top center no-repeat;
			position: relative;
			bottom: -37px;
			left: 0;
			width: 320px;
			height: 37px;
			margin-bottom: 50px;
			@media (min-width: 721px) {
				width: 720px;
				background: transparent url('../img/bg-story-bottom-tablet.png') top center no-repeat;
				height: 40px;
			}
			@media (min-width: 1261px) {
				width: 1260px;
				top: 40px;
				background: transparent url('../img/bg-story-bottom-desktop.png') top center no-repeat;
				height: 45px;
			}
		}
		h2 {
			color: #da3c3c;
			text-transform: none;
			margin: 0 30px;
			@media (min-width: 1261px) {
				font-size: 52px; 
				margin: 13px 25px;
			}
		}
		p {
			color: #000;
			font-size: 16px;
			line-height: 30px;
			margin: 0 30px;
			@media (min-width: 721px) {
				.column(8);
				.pull(8);
				margin: 0 30px;
			}
			&.perex {
				color: #da3c3c;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 34px;
				padding: 30px 0;
				border-bottom: 1px solid #dbc5aa;
				margin-bottom: 30px;
				font-weight: 500;
				@media (min-width: 1261px) {
					&:nth-of-type(0n+2) { padding-left: 79px; }
					padding: 30px 0 57px 0;
					margin: 0 !important;
				}
			}
			&.underline {
				@media (min-width: 1261px) {
					padding-top: 21px;
					font-size: 17px;
				}
			}
		}
		a {
			display: none;
		}
		.inner {
			@media (min-width: 721px) {
				padding: 30px 0 60px;
			}
			@media (min-width: 1261px) {
				padding: 30px 0;
				.column(12);
				.push(2);
			}
		}
		.watches {
			background: transparent url('../img/watches.png') top center no-repeat;
			width: 413px;
			height: 293px;
			position: absolute;
			bottom: -80px;
			right: -50px;
			z-index: 11;
			display: none;
			@media (min-width: 721px) {
				display: block;
			}
			@media (min-width: 1261px) {
				right: -51px;
				bottom: -68px;
			}
		}
		.download-arrows {
			display: none;
			position: absolute;
			bottom: 0;
			left: 70px;
			@media (min-width: 721px) {
				display: block;
			}
			@media (min-width: 1261px) {
				left: 698px;
				bottom: 108px;
			}
			a {
				display: inline-block;
				height: 95px;
				width: 50px;
				text-decoration: none;
				margin: 0 21px;
				&#download-arrow-apple {
					background: transparent url('../img/download-arrow-apple.png') center 6px no-repeat;
				}	
				&#download-arrow-android {
					background: transparent url('../img/download-arrow-android.png') top center no-repeat;
				}
				&:hover {
					.transition(0.5s);
					.scale(1.3);
				}
			}
		}
		.columns {
			&.row {
				.row(15);
				margin: 0 30px 20px;
				border-bottom: 1px solid #C0C0C0;
				.column {
					.column(7);
					border-bottom: 0;
				}
			}
		}
	}
	&#function {
		h2 {
			em {
				display: none;
				color: #FFF;
				text-transform: uppercase;
				font-style: normal;
				font-family: "futura-pt";
				font-weight: 300;
				@media (min-width: 721px) { display: inline-block; } 
			}
		}
		@media (min-width: 1261px) {
			padding-bottom: 87px;
			padding-top: 78px;
			h2 { font-size: 53px; margin-left: 23px; }
		}
		@media (min-width: 721px) {
			.row {
				margin-left: 20px;
			}
		}
		.function-item {
			.column(8);
			height: 170px;
			overflow: hidden;
			background: url('../img/sprite-functions.png') 0 -20px no-repeat;
			margin-bottom: 50px;
			@media (min-width: 721px) {
				background: url('../img/bg-function-item.png') 0 0 no-repeat;
				height: 300px;
				width: 300px;
				margin-bottom: 25px;
			}
			@media (min-width: 1261px) {
				margin-bottom: 5px;

			}
			h3 {
				font-weight: 600;
				font-size: 22px;
				line-height: 24px;
				padding: 110px 0 0 0;
				text-align: center;
				margin: 15px 0 5px;
				font-weight: 500;
				@media (min-width: 721px) {
					padding: 35px 15px 35px 130px;
					color: #d03131;
					text-align: left;
				}
			}
			p {
				display: none;
				@media (min-width: 721px) {
					display: block;
					font-size: 16px;
					line-height: 30px;
					color: #1b1b1b;
				}
			}
			&#f-notifications {
				background-position: 0 -320px;
				@media (min-width: 721px) {
					background-position: 0 0;
					margin-left: 20px;
					margin-top: 30px;
				}
				@media (min-width: 1261px) {
					background-position: 0 0;
					margin-left: 0px;
					margin-top: 30px;
				}
				h3 {
					@media (min-width: 721px) {
						background: url('../img/sprite-functions.png') 0 -375px no-repeat;
					}
				}
			}
			&#f-filter {
				background-position: 0 -530px;
				@media (min-width: 721px) {
					background-position: 0 0;
				}
				@media (min-width: 1261px) {
					background-position: 0 0;
					margin-left: 0px;
					margin-top: 30px;
				}
				h3 {
					@media (min-width: 721px) {
						background: url('../img/sprite-functions.png') 0 -560px no-repeat;
					}
				}
			}
			&#f-detail {
				background-position: 0 -190px;
				@media (min-width: 721px) {
					background-position: 0 0;
					margin-left: 20px;
				}
				@media (min-width: 1261px) {
					background-position: 0 0;
					margin-left: 0.78125%;
				}
				h3 {
					@media (min-width: 721px) {
						background: url('../img/sprite-functions.png') -15px -200px no-repeat;
					}
				}
			}
			&#f-program {
				background-position: 0 -700px;
				@media (min-width: 721px) {
					background-position: 0 0;
					margin-top: 30px;
				}
				h3 {
					@media (min-width: 721px) {
						background: url('../img/sprite-functions.png') -10px -715px no-repeat;
					}
				}
			}
			&#f-search {
				@media (min-width: 721px) {
					background: url('../img/bg-function-item-search.png') 0 0 no-repeat;
					height: 240px;	
				}
				@media (min-width: 1261px) {
					margin-left: 0px;
				}
				h3 {
					@media (min-width: 721px) {
						background: url('../img/sprite-functions.png') -15px -30px no-repeat;
					}
				}
			}
		}
		.let-us-know {
			.column(8);
			width: 170px;
			height: 140px;
			.rotate(-20deg);
			position: absolute;
			background: url('../img/let-us-know.png') top left no-repeat;
			padding: 25px;
			bottom: 40px;
			right: -40px;
			@media (min-width: 721px) {
				background: url('../img/let-us-know-tablet.png') top left no-repeat;
				padding: 100px;
				right: 25px;
				bottom: -20px;
			}
			@media (min-width: 1261px) {
				background: url('../img/let-us-know-tablet.png') top left no-repeat;
				padding: 100px;
				right: 0px;
				bottom: 20px;
			}
			p {
				color: #d94543;
				margin: 0;
				font-size: 14px;
				line-height: 24px;
				text-transform: uppercase;
				a {
					color: #d94543;
					text-decoration: none;
					font-weight: bold;
					&:hover {
						text-decoration: underline;
						font-weight: 700;
					}
				}
			}
		}
		.inner {
			@media (min-width: 1261px) {
				.column(12);
				.push(2);
			}
		}
	}
	&#about {
		background: #d64e47 url('../img/bg-about.jpg') 50% 3px no-repeat;
		padding: 20px 0 24px;		
		.wrapper {
			background: url('../img/bg-about-info.png') center 70px no-repeat;
			@media (min-width: 721px) {
				background: url('../img/bg-about-info-tablet.png') center 40px no-repeat;
			}
			@media (min-width: 1261px) {
				background: url('../img/bg-about-info-desktop.png') center 10px no-repeat;
			}
			.inner {
				.clearfix;
				position: relative;
				@media (min-width: 1261px) {
					.column(12);
					.push(2);
				}
				.step-one {
					width: 380px;
					height: 50px;
					padding: 0 60px 20px 0;
					margin: 70px 0 0 10px;
					@media (min-width: 721px) {
						height: auto;
						width: 320px;
						margin: 50px 0 0 30px;
					}
					@media (min-width: 1261px) {
						width: 320px;
						margin: 148px 0 0 64px
					}
					h2 {
						position: relative;
						text-transform: uppercase;
						font-size: 16px;
						line-height: 29px;
						font-weight: 500;
						color: #fff;
						padding: 0 40px 10px 0;
						margin: 0 100px 0 0;
						@media (min-width: 721px) {
							border-bottom: 1px solid #FBE2C4;
							font-size: 22px;
							margin: 0;
						}
					}
					p { color: #FBE2C4; font-size: 18px;
						@media (min-width: 721px) {
							margin: 15px 0;
						}
					}
				}
				.step-two {
					width: 240px;
					height: 50px;
					margin: 150px 0 0 130px;
					padding: 0 40px 20px 0;
					@media (min-width: 721px) {
						height: auto;
						margin: 50px 0 0 450px;
					}
					@media (min-width: 1261px) {
						height: auto;
						margin: 35px 0 0 623px;
						width: 280px;
					}
					h2 {
						position: relative;
						text-transform: uppercase;
						font-size: 16px;
						line-height: 29px;
						font-weight: bold;
						color: #fff;
						padding: 0 40px 20px 0;
						margin: 0 0 100px 0;
						@media (min-width: 721px) {
							border-bottom: 1px solid #FBE2C4;
							font-size: 22px;
							margin: 0;
						}
					}
					p { color: #FBE2C4; font-size: 18px;
						@media (min-width: 721px) {
							margin: 15px 0;
						}
					}
				}
				.supported-cinemas {
					position: relative;
					margin: 0 auto;
					width: 280px;
					max-width: 830px;
					height: 120px;
					overflow: hidden;
					@media (min-width: 721px) {
						width: 100%;
					}
				}
				h4 {
					color: #e9d2bf;
					text-transform: uppercase;
					font-size: 16px;
					text-align: center;
					font-weight: 400;
					margin: 50px 0 40px;
					@media (min-width: 1261px) {
						margin: 39px 0 24px;
					}
				}
				a {
					margin: 5px 20px;
					position: absolute;
				}
			}
		}
	}
	&#download {
		padding: 20px 0;
		.inner { float: none;
			@media (min-width: 1261px) {
					.column(12);
					.push(2);
				}
		}
		h2 { color: #E8DACA; text-align: center;
			@media (min-width: 1261px) { font-size: 50px; margin-top: 40px; text-align: left; }
		}
		.row { margin-top: 55px; text-align: center; 
			@media (min-width: 721px) {
				.ios { margin-bottom: 25px; }
				.ios-small-inactive { .ios-large-inactive(); }
				.android-small-inactive { .android-large-inactive(); }
				.ios-small-inactive:hover { .ios-large-active(); }
				.android-small-inactive:hover { .android-large-active(); }
			}
			@media (min-width: 1261px) { margin-left: 32px;
				.ios { margin-bottom: 0; margin-right: 10px; }
			}
		}
	}
	&#comments {
		background: #1c1c1c;
		.inner {
			@media (min-width: 1261px) {
				.column(12);
				.push(2);
			}
		}
		.comment-item {
			.clearfix;
			margin: 20px 0;
			.column(16);
			height: 120px;
			@media (min-width: 721px) {
				.column(8);
			}
			img {
				.column(4);
				margin: 10px 0;
				max-width: 49px;
				&.stars {
					max-width: none;
					width: 90px;
					float: none;
					display: inline-block;
					height: 22px;
					margin: 0;
				}
			}
			.comment-message{
				.column(12);
				p {
					margin: 10px 0 10px 30px;
				}
				.author {
					padding: 0 0 0 30px;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}
	&#subfooter {
		.wrapper {
			width: 320px;
			margin: auto;
			.clearfix;
			@media (min-width: 721px) {
				width: 720px;
			}
			@media (min-width: 1261px) {
				width: 1260px;
			}
			.inner {
				.column(16);
				padding: 0 0 30px;
				.row {
					.row(16);
					.thankyou {
						background: url('../img/thankyou.png') center center no-repeat;
						display: block;
						margin: 80px auto 50px;
						width: 246px;
						height: 223px;
						overflow: hidden;
						text-indent: 100%;
						white-space: nowrap;
						@media (min-width: 721px) {
							background: url('../img/thankyou-desktop.png') center center no-repeat;
							width: 340px;
							height: 313px;
						}
					}
					.gs {
						display: block;
						width: 200px;
						height: 88px;
						margin: auto;
						background: url('../img/logo-gs.png') center center no-repeat;
						overflow: hidden;
						text-indent: 100%;
						white-space: nowrap;
						&:hover {
							.transition(0.5s);
							.scale(1.1);
						}
					}
					h3 {
						text-decoration: underline;
						text-transform: uppercase;
						letter-spacing: 2px;
						color: #C83D37;
						font-weight: bold;
						font-size: 22px;
						margin: 10px 0 40px;
						text-align: center;
						padding: 0;
					}
					p {
						font-size: 14px;
						line-height: 23px;
						color: #e8daca;
						text-align: center;
						a { color: #e8daca; 
							&:hover { text-decoration: none; }
						}
						&.copy {
							color: #62615b;
						}
					}	
				}
				@media (min-width: 721px) {
					width: 480px;
					float: none;
					margin: auto;
					display: block;
				}
			}
		}
	}
}
footer {
	background: #1c1c1c;
	border-top: 1px solid  #3e3e3e;
	.wrapper {
		width: 320px;
		margin: auto;
		.clearfix;
		text-align: center;
		@media (min-width: 721px) {
			width: 720px;
			text-align: left;
		}
		@media (min-width: 1261px) {
			width: 1260px;
		}
		.inner {
			.column(16);
			@media (min-width: 1261px) {
				.column(12);
				.push(2);
				.pull(2);
			}
			.row {
				color: #62615b;
				font-size: 14px;
				line-height: 25px;
				margin: 15px 0;
				a {
					color: #62615b;
					&:hover {
						color: #fff;
					}
				}
				.right-social {
					margin-top: 10px;
					text-align: center;
					@media (min-width: 721px) {
						float: right;
						width: 20px;
						text-align: left;
						margin-top: 0;
					}
					a {
						display: inline-block;
						width: 20px;
						height: 21px;
						margin: 0 5px;
						&#social-fb {
							background: url('../img/logo-fb.png') top left no-repeat;
							&:hover {
								background-position: bottom left;
							}
						}
						&#social-tw {
							background: url('../img/logo-twitter.png') top left no-repeat;
							height: 19px;
							&:hover {
								background-position: bottom left;
							}
						}
						&#social-gplus {
							background: url('../img/logo-gplus.png') top left no-repeat;
							height: 20px;
							width: 22px;
							&:hover {
								background-position: bottom left;
							}
						}
						&#social-pin {
							background: url('../img/logo-pin.png') top left no-repeat;
							&:hover {
								background-position: bottom left;
							}
						}
					}
				}
			}
		}
	}
}
.bg-footer {
	background: #1c1c1c url('../img/bg-subfooter-desktop.jpg') center 0 no-repeat;
}
.not-mobile {
	display: none !important;
	@media (min-width: 721px) {
		display: inline-block !important;
	}
}
.mobile-only {
	display: block !important;
	@media (min-width: 721px) {
		display: none !important;
	}
}