// Created with TexturePacker (http://www.texturepacker.com) - Copyright 2013 Damien SEGUIN
// $TexturePacker:SmartUpdate:7d46391cf473da85e639839402990407:ecc2ef2118a07675e454070876119e9b:8a1b830de43cac15c8916fb63750fe9a$

// HTML:
// <i class="sprite ico-pin"></i>
// 
// CSS:
// body .selector .ico-pin {
//     .ico-pin-small-blue();
// }

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/sprites.png); text-indent: -99999px;}
.sprite() {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/sprites.png); text-indent: -99999px;}


.android-large-active() { width: 460px; height: 166px; background-position: -464px -170px }
.android-large-active { width: 460px; height: 166px; background-position: -464px -170px }

.android-large-inactive() { width: 460px; height: 166px; background-position: -2px -170px }
.android-large-inactive { width: 460px; height: 166px; background-position: -2px -170px }

.android-small-active() { width: 300px; height: 109px; background-position: -2px -449px }
.android-small-active { width: 300px; height: 109px; background-position: -2px -449px }

.android-small-inactive() { width: 300px; height: 109px; background-position: -606px -338px }
.android-small-inactive { width: 300px; height: 109px; background-position: -606px -338px }

.ios-large-active() { width: 460px; height: 166px; background-position: -464px -2px }
.ios-large-active { width: 460px; height: 166px; background-position: -464px -2px }

.ios-large-inactive() { width: 460px; height: 166px; background-position: -2px -2px }
.ios-large-inactive { width: 460px; height: 166px; background-position: -2px -2px }

.ios-small-active() { width: 300px; height: 109px; background-position: -304px -338px }
.ios-small-active { width: 300px; height: 109px; background-position: -304px -338px }

.ios-small-inactive() { width: 300px; height: 109px; background-position: -2px -338px }
.ios-small-inactive { width: 300px; height: 109px; background-position: -2px -338px }
