h1 {
	font-size: 26px;
	line-height: 34px;
	font-weight: bold;
	text-transform: none;
	margin: 0 0 20px 30px;
}
h2 {
	font-size: 34px;
	line-height: 28px;
	font-weight: 100;
	margin: 25px 30px 10px;
	letter-spacing: 1px;
	color: #d94543;
	font-weight: 400;
}
h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 100;
	text-transform: uppercase;
	padding-right: 80px;
	margin: 15px 30px 5px;
}
h4 {
	font-size: 18px;
	line-height: 18px;
	color: #000;
	font-weight: bold;
	margin: 15px 30px;
}
ul, ol {
	li {
		font-size: 12px;
	}
}
ul {
	padding-left: 20px;
	li {
		list-style-type: none;
		padding-left: 20px;
	}
}
ol { 
	counter-reset: item; 
	padding-left: 20px;
    li {
	    display: block;
        &:before {
			content: counter(item) ". ";
			counter-increment: item;
            color: #2a59a6;
            margin-right: 5px;
        }
    }
}
label {
	text-transform: uppercase;
	color: #2c5aa6;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0 10px;
	display: block;
}
input[type=text] {
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #000;
	display: block;
	font-size: 14px;
   -moz-box-shadow: inset 0 0 2px #d6d6d6;
   -webkit-box-shadow: inset 0 0 2px #d6d6d6;
   box-shadow: inset 0 0 2px #d6d6d6;
}
input[type=submit] {
	color: #fff;
	background: @purple;
	font-size: 14px;
	margin: 15px 0;
	&:hover {
		background: darken(@purple, 10%);
	}
	&:active {
		background: lighten(@purple, 10%);
	}
}
p {
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	margin: 10px 30px;
	color: #fbf9f7;
	&.office {
		font-size: 14px;
		font-weight: bold;
		color: #666666;
		text-transform: uppercase;
		width: 180px;
		float: right;
		margin: 0;
		line-height: 20px;
		span {
			font-size: 12px;
			display: block;
			text-transform: none;
			font-weight: 100;
		}

	}
	.content-sidebar & {
		font-size: 12px;
		line-height: 22px;
		font-weight: normal;
	}
	&.copy {
		color: #666;
		margin: 0;
		a {
			color: #666;
			text-decoration: none;
			background: url('../images/gs-logo.png') top right no-repeat;
			padding: 2px 40px 2px 0;
			&:hover {
				background-position: bottom right;
			}
		}
	}
}
time {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
a {
	color: #0066cc;
	&:hover {
		text-decoration: none;
	}
}
table {
	margin: 25px 0;
	thead {
		tr {
			th {
				border-bottom: 2px solid #2c5aa6;
				font-weight: bold;
				color: #2c5aa6;
				text-transform: uppercase;
				font-size: 12px;
				padding: 15px 15px 15px 0;
				text-align: left;
			}
		}
	}
	tbody {
		tr {
			th {
				color: #2c5aa6;
				font-weight: bold;
				border-bottom: 1px solid #ccc;
				text-transform: uppercase;
				font-size: 12px;
				padding: 15px 25px 15px 0;
				text-align: left;
			}
			td {
				border-bottom: 1px solid #ccc;
				color: #000;
				font-size: 12px;
				padding: 15px 15px 15px 0;
				text-align: left;
			}
		}
	}
}
blockquote {
	border-left: 3px solid #2c5aa6;
	padding: 30px 0 30px 40px;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin: 25px 0 25px 30px;
	display: block;
	&:before {
		position: absolute;
		height: 2200px;
		width: 1500px;
		display: block;
		top: 0;
		left: 0;
		background: url('../images/flag-blue-left.jpg') top left no-repeat;
		background-color: #f00;
	}
}