body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  display: table;
  content: "";
  line-height: 0;
}
body:after {
  clear: both;
}
/*! normalize.css v1.0.0 | MIT License | git.io/normalize */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  color: #fff;
  background: #0066cc;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #0066cc;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 0 0 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.uppercase {
  text-transform: uppercase;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
input:-moz-placeholder {
  color: #fff;
}
input[type=text] {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 20px;
  outline: none;
}
input[type=submit] {
  background: #fff;
  padding: 15px 20px;
  color: #fff;
  border: none;
  outline: none;
}
.btn {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 14px 44px 14px 14px;
  text-decoration: none;
  background-color: #9a5bc2;
}
.btn:hover {
  color: #fff;
  background-color: #653285;
}
.btn:visited {
  color: #fff;
}
.btn.blue {
  color: #fff;
  background-color: #4859ff;
}
.btn.blue:hover {
  background-color: #0015e1;
}
.btn.blue:visited {
  color: #fff;
}
.btn.violet {
  color: #fff;
  background-color: #e2bafb;
}
.btn.violet:hover {
  background-color: #b95af5;
}
.btn.violet:visited {
  color: #fff;
}
.btn.archive {
  background-image: url('../images/icon-archive.png');
  background-repeat: no-repeat;
  background-position: right center;
}
.btn.more {
  background-image: url('../images/icon-more.png');
  background-repeat: no-repeat;
  background-position: right center;
  margin: auto;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.centered {
  margin: 0 auto;
  position: relative;
}
/* text variables */
h1 {
  font-size: 26px;
  line-height: 34px;
  font-weight: bold;
  text-transform: none;
  margin: 0 0 20px 30px;
}
h2 {
  font-size: 34px;
  line-height: 28px;
  font-weight: 100;
  margin: 25px 30px 10px;
  letter-spacing: 1px;
  color: #d94543;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
  padding-right: 80px;
  margin: 15px 30px 5px;
}
h4 {
  font-size: 18px;
  line-height: 18px;
  color: #000;
  font-weight: bold;
  margin: 15px 30px;
}
ul li,
ol li {
  font-size: 12px;
}
ul {
  padding-left: 20px;
}
ul li {
  list-style-type: none;
  padding-left: 20px;
}
ol {
  counter-reset: item;
  padding-left: 20px;
}
ol li {
  display: block;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #2a59a6;
  margin-right: 5px;
}
label {
  text-transform: uppercase;
  color: #2c5aa6;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 10px;
  display: block;
}
input[type=text] {
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #000;
  display: block;
  font-size: 14px;
  -moz-box-shadow: inset 0 0 2px #d6d6d6;
  -webkit-box-shadow: inset 0 0 2px #d6d6d6;
  box-shadow: inset 0 0 2px #d6d6d6;
}
input[type=submit] {
  color: #fff;
  background: #9a5bc2;
  font-size: 14px;
  margin: 15px 0;
}
input[type=submit]:hover {
  background: #813fab;
}
input[type=submit]:active {
  background: #b180d0;
}
p {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  margin: 10px 30px;
  color: #fbf9f7;
}
p.office {
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  text-transform: uppercase;
  width: 180px;
  float: right;
  margin: 0;
  line-height: 20px;
}
p.office span {
  font-size: 12px;
  display: block;
  text-transform: none;
  font-weight: 100;
}
.content-sidebar p {
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
}
p.copy {
  color: #666;
  margin: 0;
}
p.copy a {
  color: #666;
  text-decoration: none;
  background: url('../images/gs-logo.png') top right no-repeat;
  padding: 2px 40px 2px 0;
}
p.copy a:hover {
  background-position: bottom right;
}
time {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
a {
  color: #0066cc;
}
a:hover {
  text-decoration: none;
}
table {
  margin: 25px 0;
}
table thead tr th {
  border-bottom: 2px solid #2c5aa6;
  font-weight: bold;
  color: #2c5aa6;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 15px 15px 0;
  text-align: left;
}
table tbody tr th {
  color: #2c5aa6;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 25px 15px 0;
  text-align: left;
}
table tbody tr td {
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 12px;
  padding: 15px 15px 15px 0;
  text-align: left;
}
blockquote {
  border-left: 3px solid #2c5aa6;
  padding: 30px 0 30px 40px;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin: 25px 0 25px 30px;
  display: block;
}
blockquote:before {
  position: absolute;
  height: 2200px;
  width: 1500px;
  display: block;
  top: 0;
  left: 0;
  background: url('../images/flag-blue-left.jpg') top left no-repeat;
  background-color: #f00;
}
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(../images/sprites.png);
  text-indent: -99999px;
}
.android-large-active {
  width: 460px;
  height: 166px;
  background-position: -464px -170px;
}
.android-large-inactive {
  width: 460px;
  height: 166px;
  background-position: -2px -170px;
}
.android-small-active {
  width: 300px;
  height: 109px;
  background-position: -2px -449px;
}
.android-small-inactive {
  width: 300px;
  height: 109px;
  background-position: -606px -338px;
}
.ios-large-active {
  width: 460px;
  height: 166px;
  background-position: -464px -2px;
}
.ios-large-inactive {
  width: 460px;
  height: 166px;
  background-position: -2px -2px;
}
.ios-small-active {
  width: 300px;
  height: 109px;
  background-position: -304px -338px;
}
.ios-small-inactive {
  width: 300px;
  height: 109px;
  background-position: -2px -338px;
}
body {
  font-family: "futura-pt", Calibri, sans-serif;
  font-size: 20px;
  color: #fff;
  background: #cfb595;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
*[data-href] {
  cursor: pointer;
}
@media (min-width: 721px) {
  .waypoint:before {
    content: "";
    display: block;
    height: 85px;
    margin: -85px 0 0 0;
  }
}
nav {
  *zoom: 1;
  border-bottom: 1px solid #e9d2bf;
  position: fixed;
  display: none;
  width: 100%;
  background: #cfb696;
  z-index: 10000000;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
nav:before,
nav:after {
  display: table;
  content: "";
  line-height: 0;
}
nav:after {
  clear: both;
}
@media (min-width: 721px) {
  nav {
    display: block;
  }
}
nav .wrapper {
  width: 670px;
  margin: auto;
  position: relative;
}
@media (min-width: 1261px) {
  nav .wrapper {
    width: 900px;
  }
}
nav .wrapper ul {
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
  margin: 0 0 0 15px;
  padding: 0;
}
nav .wrapper ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav .wrapper ul li a {
  color: #fbfaf8;
  border: 3px solid transparent;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 8px 9px;
  margin: 18px 0 20px 0;
  text-decoration: none;
  display: block;
}
nav .wrapper ul li a:hover {
  color: #fbfaf8;
  border: 3px solid #fbfaf8;
}
nav .wrapper ul li a.active {
  font-weight: bold;
  border: 3px solid #fbfaf8;
}
header {
  width: 100%;
  margin-top: 40px;
}
@media (min-width: 721px) {
  header {
    margin-top: 80px;
  }
}
header .wrapper {
  margin: auto;
  width: 320px;
  position: relative;
  *zoom: 1;
}
header .wrapper:before,
header .wrapper:after {
  content: "";
  display: table;
}
header .wrapper:after {
  clear: both;
}
header .wrapper:before,
header .wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
header .wrapper:after {
  clear: both;
}
@media (min-width: 721px) {
  header .wrapper {
    width: 720px;
  }
}
@media (min-width: 1261px) {
  header .wrapper {
    width: 1260px;
  }
}
header .wrapper .inner {
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
}
header .wrapper .inner .row {
  display: block;
  width: 101.5625%;
  margin: 0 -0.78125%;
  *zoom: 1;
}
header .wrapper .inner .row:before,
header .wrapper .inner .row:after {
  content: "";
  display: table;
}
header .wrapper .inner .row:after {
  clear: both;
}
header .wrapper .inner .row:before,
header .wrapper .inner .row:after {
  display: table;
  content: "";
  line-height: 0;
}
header .wrapper .inner .row:after {
  clear: both;
}
header .wrapper .inner h1 {
  font-size: 71px;
  line-height: 70px;
  color: #fbf9f7;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
@media (min-width: 721px) {
  header .wrapper .inner h1 {
    font-size: 150px;
    line-height: 150px;
    margin: 0 0 20px 30px;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner h1 {
    font-size: 270px;
    padding: 40px 0 26px 0;
    text-align: center;
    letter-spacing: 13px;
  }
}
header .wrapper .inner h2 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 721px) {
  header .wrapper .inner h2 {
    font-size: 28px;
    line-height: 34px;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner h2 {
    font-size: 34px;
    line-height: 44px;
    margin-left: 25.78125%;
  }
}
@media (min-width: 721px) {
  header .wrapper .inner p {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner p {
    font-size: 20px;
    line-height: 30px;
    margin-left: 25.78125%;
  }
}
header .wrapper .inner .left-column {
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
  position: relative;
  z-index: 100;
}
header .wrapper .inner .left-column .upper {
  text-transform: uppercase;
  font-size: 17px;
}
@media (min-width: 721px) {
  header .wrapper .inner .left-column {
    display: inline;
    float: left;
    width: 42.1875%;
    margin: 0 0.78125%;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner .left-column {
    display: inline;
    float: left;
    width: 48.4375%;
    margin: 0 0.78125%;
    margin-left: 31px;
  }
}
header .wrapper .inner .left-column .download-button {
  display: block;
  background: url('../img/bg-download.png') top left no-repeat;
  position: relative;
  width: 302px;
  height: 82px;
  margin: auto;
  font-size: 18px;
}
@media (min-width: 721px) {
  header .wrapper .inner .left-column .download-button {
    background: url('../img/bg-download-tablet.png') top left no-repeat;
    width: 370px;
    height: 114px;
    font-size: 20px;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner .left-column .download-button {
    margin-left: 158px;
    margin-top: 19px;
  }
}
header .wrapper .inner .left-column .download-button a {
  color: #fcf0f0;
  text-transform: uppercase;
  padding: 20px;
}
header .wrapper .inner .left-column .download-button a#appstore {
  width: 72px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 93px;
  padding: 15px;
}
@media (min-width: 721px) {
  header .wrapper .inner .left-column .download-button a#appstore {
    width: 85px;
    height: 60px;
    top: 5px;
    left: 114px;
    padding: 20px;
  }
}
header .wrapper .inner .left-column .download-button a#appstore:hover {
  background: url('../img/hover-left.png') top left no-repeat;
}
@media (min-width: 721px) {
  header .wrapper .inner .left-column .download-button a#appstore:hover {
    background: url('../img/bg-download-appstore.png') top left no-repeat;
  }
}
header .wrapper .inner .left-column .download-button a#googleplay {
  width: 77px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 195px;
  padding: 15px;
}
@media (min-width: 721px) {
  header .wrapper .inner .left-column .download-button a#googleplay {
    width: 90px;
    height: 60px;
    top: 5px;
    left: 240px;
    padding: 20px;
  }
}
header .wrapper .inner .left-column .download-button a#googleplay:hover {
  background: url('../img/hover-right.png') top left no-repeat;
}
@media (min-width: 721px) {
  header .wrapper .inner .left-column .download-button a#googleplay:hover {
    background: url('../img/bg-download-googleplay.png') top left no-repeat;
  }
}
header .wrapper .inner .social-buttons {
  width: 240px;
  margin: 20px auto;
  text-align: center;
}
header .wrapper .inner .social-buttons .fb-button {
  width: 50px;
  display: inline-block;
}
header .wrapper .inner .social-buttons .tw-button {
  width: 56px;
  display: inline-block;
}
@media (min-width: 721px) {
  header .wrapper .inner .social-buttons {
    display: block;
    width: 84px;
    height: 254px;
    padding-left: 10px;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 90px;
    background: url('../img/right-social.png') top left no-repeat;
  }
  header .wrapper .inner .social-buttons .fb-button {
    width: 50px;
    margin: 30px auto 0 auto;
  }
  header .wrapper .inner .social-buttons .tw-button {
    width: 56px;
    margin: 30px auto 0 auto;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner .social-buttons {
    width: 84px;
    height: 254px;
    position: fixed;
    right: auto;
    left: 0;
    top: 300px;
    padding-left: 2px;
    padding-right: 10px;
    background: url('../img/left-social.png') top left no-repeat;
  }
  header .wrapper .inner .social-buttons .fb-button {
    width: 50px;
    margin: 30px auto 0 auto;
  }
  header .wrapper .inner .social-buttons .tw-button {
    width: 56px;
    margin: 30px auto 0 auto;
  }
}
header .wrapper .inner .slideshow {
  display: none;
}
@media (min-width: 721px) {
  header .wrapper .inner .slideshow {
    display: block;
    position: absolute;
    right: 30px;
    display: inline;
    float: left;
    width: 48.4375%;
    margin: 0 0.78125%;
    background: url('../img/bg-iphone-tablet.png') center center no-repeat;
    height: 657px;
    top: 327px;
  }
}
@media (min-width: 1261px) {
  header .wrapper .inner .slideshow {
    background: url('../img/bg-iphone.png') top left no-repeat;
    right: -60px;
    top: 298px;
  }
}
@media (max-width: 1260px) {
  header .wrapper .inner .slideshow .slides {
    display: none;
  }
}
header .wrapper .inner .slideshow img {
  display: none;
  position: absolute;
  top: 119px;
}
@media (min-width: 1261px) {
  header .wrapper .inner .slideshow img {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    right: 272px;
  }
  header .wrapper .inner .slideshow img:first-of-type {
    opacity: 0.01;
    filter: alpha(opacity=1);
  }
}
header .wrapper .inner .slideshow .pager {
  display: none;
}
@media (min-width: 1261px) {
  header .wrapper .inner .slideshow .pager {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 364px;
  }
}
header .wrapper .inner .slideshow .pager li a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}
header .wrapper .inner .slideshow .pager li a.active {
  background: url('../img/pager-active.png') top left no-repeat;
}
section {
  width: 100%;
  *zoom: 1;
}
section:before,
section:after {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
section:before,
section:after {
  display: table;
  content: "";
  line-height: 0;
}
section:after {
  clear: both;
}
section .wrapper {
  width: 320px;
  margin: auto;
  *zoom: 1;
  ovreflow: hidden;
}
section .wrapper:before,
section .wrapper:after {
  content: "";
  display: table;
}
section .wrapper:after {
  clear: both;
}
section .wrapper:before,
section .wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
section .wrapper:after {
  clear: both;
}
@media (min-width: 721px) {
  section .wrapper {
    width: 720px;
  }
}
@media (min-width: 1261px) {
  section .wrapper {
    width: 1260px;
  }
}
section .wrapper .inner {
  display: inline;
  float: left;
  width: 92.1875%;
  margin: 0 0.78125%;
  *zoom: 1;
}
section .wrapper .inner:before,
section .wrapper .inner:after {
  content: "";
  display: table;
}
section .wrapper .inner:after {
  clear: both;
}
section .wrapper .inner:before,
section .wrapper .inner:after {
  display: table;
  content: "";
  line-height: 0;
}
section .wrapper .inner:after {
  clear: both;
}
section .wrapper .inner .row {
  display: block;
  width: 101.66666667%;
  margin: 0 -0.83333333%;
  *zoom: 1;
  position: relative;
}
section .wrapper .inner .row:before,
section .wrapper .inner .row:after {
  content: "";
  display: table;
}
section .wrapper .inner .row:after {
  clear: both;
}
section .wrapper .inner .row:before,
section .wrapper .inner .row:after {
  display: table;
  content: "";
  line-height: 0;
}
section .wrapper .inner .row:after {
  clear: both;
}
section#story {
  width: 320px;
  background: #ffffff url('../img/bg-story.png') top center repeat-y;
  position: relative;
  margin: 50px auto 0;
  *zoom: 1;
}
section#story:before,
section#story:after {
  content: "";
  display: table;
}
section#story:after {
  clear: both;
}
section#story:before,
section#story:after {
  display: table;
  content: "";
  line-height: 0;
}
section#story:after {
  clear: both;
}
@media (min-width: 721px) {
  section#story {
    width: 720px;
    background: url('../img/bg-story-tablet.png') top center repeat-y;
  }
}
@media (min-width: 1261px) {
  section#story {
    width: 1260px;
    background: url('../img/bg-story-desktop.png') top center repeat-y;
    margin-top: 75px;
  }
}
section#story:before {
  background: transparent url('../img/top-story.png') top center no-repeat;
  position: absolute;
  top: -37px;
  left: 0;
  width: 320px;
  height: 37px;
}
@media (min-width: 721px) {
  section#story:before {
    width: 720px;
    top: 50px;
    background: transparent url('../img/bg-story-top-tablet.png') top center no-repeat;
  }
}
@media (min-width: 1261px) {
  section#story:before {
    width: 1260px;
    top: 50px;
    background: transparent url('../img/bg-story-top-desktop.png') top center no-repeat;
    height: 45px;
  }
}
section#story:after {
  background: transparent url('../img/bottom-story.png') top center no-repeat;
  position: relative;
  bottom: -37px;
  left: 0;
  width: 320px;
  height: 37px;
  margin-bottom: 50px;
}
@media (min-width: 721px) {
  section#story:after {
    width: 720px;
    background: transparent url('../img/bg-story-bottom-tablet.png') top center no-repeat;
    height: 40px;
  }
}
@media (min-width: 1261px) {
  section#story:after {
    width: 1260px;
    top: 40px;
    background: transparent url('../img/bg-story-bottom-desktop.png') top center no-repeat;
    height: 45px;
  }
}
section#story h2 {
  color: #da3c3c;
  text-transform: none;
  margin: 0 30px;
}
@media (min-width: 1261px) {
  section#story h2 {
    font-size: 52px;
    margin: 13px 25px;
  }
}
section#story p {
  color: #000;
  font-size: 16px;
  line-height: 30px;
  margin: 0 30px;
}
@media (min-width: 721px) {
  section#story p {
    display: inline;
    float: left;
    width: 48.4375%;
    margin: 0 0.78125%;
    margin-right: 50.78125%;
    margin: 0 30px;
  }
}
section#story p.perex {
  color: #da3c3c;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 34px;
  padding: 30px 0;
  border-bottom: 1px solid #dbc5aa;
  margin-bottom: 30px;
  font-weight: 500;
}
@media (min-width: 1261px) {
  section#story p.perex {
    padding: 30px 0 57px 0;
    margin: 0 !important;
  }
  section#story p.perex:nth-of-type(0n+2) {
    padding-left: 79px;
  }
}
@media (min-width: 1261px) {
  section#story p.underline {
    padding-top: 21px;
    font-size: 17px;
  }
}
section#story a {
  display: none;
}
@media (min-width: 721px) {
  section#story .inner {
    padding: 30px 0 60px;
  }
}
@media (min-width: 1261px) {
  section#story .inner {
    padding: 30px 0;
    display: inline;
    float: left;
    width: 73.4375%;
    margin: 0 0.78125%;
    margin-left: 13.28125%;
  }
}
section#story .watches {
  background: transparent url('../img/watches.png') top center no-repeat;
  width: 413px;
  height: 293px;
  position: absolute;
  bottom: -80px;
  right: -50px;
  z-index: 11;
  display: none;
}
@media (min-width: 721px) {
  section#story .watches {
    display: block;
  }
}
@media (min-width: 1261px) {
  section#story .watches {
    right: -51px;
    bottom: -68px;
  }
}
section#story .download-arrows {
  display: none;
  position: absolute;
  bottom: 0;
  left: 70px;
}
@media (min-width: 721px) {
  section#story .download-arrows {
    display: block;
  }
}
@media (min-width: 1261px) {
  section#story .download-arrows {
    left: 698px;
    bottom: 108px;
  }
}
section#story .download-arrows a {
  display: inline-block;
  height: 95px;
  width: 50px;
  text-decoration: none;
  margin: 0 21px;
}
section#story .download-arrows a#download-arrow-apple {
  background: transparent url('../img/download-arrow-apple.png') center 6px no-repeat;
}
section#story .download-arrows a#download-arrow-android {
  background: transparent url('../img/download-arrow-android.png') top center no-repeat;
}
section#story .download-arrows a:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: scale(1.3);
  /* Saf3.1+, Chrome */
  -moz-transform: scale(1.3);
  /* FF3.5+ */
  -ms-transform: scale(1.3);
  /* IE9 */
  -o-transform: scale(1.3);
  /* Opera 10.5 */
  transform: scale(1.3);
}
section#story .columns.row {
  display: block;
  width: 101.66666667%;
  margin: 0 -0.83333333%;
  *zoom: 1;
  margin: 0 30px 20px;
  border-bottom: 1px solid #C0C0C0;
}
section#story .columns.row:before,
section#story .columns.row:after {
  content: "";
  display: table;
}
section#story .columns.row:after {
  clear: both;
}
section#story .columns.row:before,
section#story .columns.row:after {
  display: table;
  content: "";
  line-height: 0;
}
section#story .columns.row:after {
  clear: both;
}
section#story .columns.row .column {
  display: inline;
  float: left;
  width: 42.1875%;
  margin: 0 0.78125%;
  border-bottom: 0;
}
section#function h2 em {
  display: none;
  color: #FFF;
  text-transform: uppercase;
  font-style: normal;
  font-family: "futura-pt";
  font-weight: 300;
}
@media (min-width: 721px) {
  section#function h2 em {
    display: inline-block;
  }
}
@media (min-width: 1261px) {
  section#function {
    padding-bottom: 87px;
    padding-top: 78px;
  }
  section#function h2 {
    font-size: 53px;
    margin-left: 23px;
  }
}
@media (min-width: 721px) {
  section#function .row {
    margin-left: 20px;
  }
}
section#function .function-item {
  display: inline;
  float: left;
  width: 48.4375%;
  margin: 0 0.78125%;
  height: 170px;
  overflow: hidden;
  background: url('../img/sprite-functions.png') 0 -20px no-repeat;
  margin-bottom: 50px;
}
@media (min-width: 721px) {
  section#function .function-item {
    background: url('../img/bg-function-item.png') 0 0 no-repeat;
    height: 300px;
    width: 300px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1261px) {
  section#function .function-item {
    margin-bottom: 5px;
  }
}
section#function .function-item h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  padding: 110px 0 0 0;
  text-align: center;
  margin: 15px 0 5px;
  font-weight: 500;
}
@media (min-width: 721px) {
  section#function .function-item h3 {
    padding: 35px 15px 35px 130px;
    color: #d03131;
    text-align: left;
  }
}
section#function .function-item p {
  display: none;
}
@media (min-width: 721px) {
  section#function .function-item p {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #1b1b1b;
  }
}
section#function .function-item#f-notifications {
  background-position: 0 -320px;
}
@media (min-width: 721px) {
  section#function .function-item#f-notifications {
    background-position: 0 0;
    margin-left: 20px;
    margin-top: 30px;
  }
}
@media (min-width: 1261px) {
  section#function .function-item#f-notifications {
    background-position: 0 0;
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media (min-width: 721px) {
  section#function .function-item#f-notifications h3 {
    background: url('../img/sprite-functions.png') 0 -375px no-repeat;
  }
}
section#function .function-item#f-filter {
  background-position: 0 -530px;
}
@media (min-width: 721px) {
  section#function .function-item#f-filter {
    background-position: 0 0;
  }
}
@media (min-width: 1261px) {
  section#function .function-item#f-filter {
    background-position: 0 0;
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media (min-width: 721px) {
  section#function .function-item#f-filter h3 {
    background: url('../img/sprite-functions.png') 0 -560px no-repeat;
  }
}
section#function .function-item#f-detail {
  background-position: 0 -190px;
}
@media (min-width: 721px) {
  section#function .function-item#f-detail {
    background-position: 0 0;
    margin-left: 20px;
  }
}
@media (min-width: 1261px) {
  section#function .function-item#f-detail {
    background-position: 0 0;
    margin-left: 0.78125%;
  }
}
@media (min-width: 721px) {
  section#function .function-item#f-detail h3 {
    background: url('../img/sprite-functions.png') -15px -200px no-repeat;
  }
}
section#function .function-item#f-program {
  background-position: 0 -700px;
}
@media (min-width: 721px) {
  section#function .function-item#f-program {
    background-position: 0 0;
    margin-top: 30px;
  }
}
@media (min-width: 721px) {
  section#function .function-item#f-program h3 {
    background: url('../img/sprite-functions.png') -10px -715px no-repeat;
  }
}
@media (min-width: 721px) {
  section#function .function-item#f-search {
    background: url('../img/bg-function-item-search.png') 0 0 no-repeat;
    height: 240px;
  }
}
@media (min-width: 1261px) {
  section#function .function-item#f-search {
    margin-left: 0px;
  }
}
@media (min-width: 721px) {
  section#function .function-item#f-search h3 {
    background: url('../img/sprite-functions.png') -15px -30px no-repeat;
  }
}
section#function .let-us-know {
  display: inline;
  float: left;
  width: 48.4375%;
  margin: 0 0.78125%;
  width: 170px;
  height: 140px;
  -webkit-transform: rotate(-20deg);
  /* Saf3.1+, Chrome */
  -moz-transform: rotate(-20deg);
  /* FF3.5+ */
  -ms-transform: rotate(-20deg);
  /* IE9 */
  -o-transform: rotate(-20deg);
  /* Opera 10.5 */
  transform: rotate(-20deg);
  position: absolute;
  background: url('../img/let-us-know.png') top left no-repeat;
  padding: 25px;
  bottom: 40px;
  right: -40px;
}
@media (min-width: 721px) {
  section#function .let-us-know {
    background: url('../img/let-us-know-tablet.png') top left no-repeat;
    padding: 100px;
    right: 25px;
    bottom: -20px;
  }
}
@media (min-width: 1261px) {
  section#function .let-us-know {
    background: url('../img/let-us-know-tablet.png') top left no-repeat;
    padding: 100px;
    right: 0px;
    bottom: 20px;
  }
}
section#function .let-us-know p {
  color: #d94543;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
section#function .let-us-know p a {
  color: #d94543;
  text-decoration: none;
  font-weight: bold;
}
section#function .let-us-know p a:hover {
  text-decoration: underline;
  font-weight: 700;
}
@media (min-width: 1261px) {
  section#function .inner {
    display: inline;
    float: left;
    width: 73.4375%;
    margin: 0 0.78125%;
    margin-left: 13.28125%;
  }
}
section#about {
  background: #d64e47 url('../img/bg-about.jpg') 50% 3px no-repeat;
  padding: 20px 0 24px;
}
section#about .wrapper {
  background: url('../img/bg-about-info.png') center 70px no-repeat;
}
@media (min-width: 721px) {
  section#about .wrapper {
    background: url('../img/bg-about-info-tablet.png') center 40px no-repeat;
  }
}
@media (min-width: 1261px) {
  section#about .wrapper {
    background: url('../img/bg-about-info-desktop.png') center 10px no-repeat;
  }
}
section#about .wrapper .inner {
  *zoom: 1;
  position: relative;
}
section#about .wrapper .inner:before,
section#about .wrapper .inner:after {
  content: "";
  display: table;
}
section#about .wrapper .inner:after {
  clear: both;
}
section#about .wrapper .inner:before,
section#about .wrapper .inner:after {
  display: table;
  content: "";
  line-height: 0;
}
section#about .wrapper .inner:after {
  clear: both;
}
@media (min-width: 1261px) {
  section#about .wrapper .inner {
    display: inline;
    float: left;
    width: 73.4375%;
    margin: 0 0.78125%;
    margin-left: 13.28125%;
  }
}
section#about .wrapper .inner .step-one {
  width: 380px;
  height: 50px;
  padding: 0 60px 20px 0;
  margin: 70px 0 0 10px;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .step-one {
    height: auto;
    width: 320px;
    margin: 50px 0 0 30px;
  }
}
@media (min-width: 1261px) {
  section#about .wrapper .inner .step-one {
    width: 320px;
    margin: 148px 0 0 64px;
  }
}
section#about .wrapper .inner .step-one h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;
  padding: 0 40px 10px 0;
  margin: 0 100px 0 0;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .step-one h2 {
    border-bottom: 1px solid #FBE2C4;
    font-size: 22px;
    margin: 0;
  }
}
section#about .wrapper .inner .step-one p {
  color: #FBE2C4;
  font-size: 18px;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .step-one p {
    margin: 15px 0;
  }
}
section#about .wrapper .inner .step-two {
  width: 240px;
  height: 50px;
  margin: 150px 0 0 130px;
  padding: 0 40px 20px 0;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .step-two {
    height: auto;
    margin: 50px 0 0 450px;
  }
}
@media (min-width: 1261px) {
  section#about .wrapper .inner .step-two {
    height: auto;
    margin: 35px 0 0 623px;
    width: 280px;
  }
}
section#about .wrapper .inner .step-two h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
  color: #fff;
  padding: 0 40px 20px 0;
  margin: 0 0 100px 0;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .step-two h2 {
    border-bottom: 1px solid #FBE2C4;
    font-size: 22px;
    margin: 0;
  }
}
section#about .wrapper .inner .step-two p {
  color: #FBE2C4;
  font-size: 18px;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .step-two p {
    margin: 15px 0;
  }
}
section#about .wrapper .inner .supported-cinemas {
  position: relative;
  margin: 0 auto;
  width: 280px;
  max-width: 830px;
  height: 120px;
  overflow: hidden;
}
@media (min-width: 721px) {
  section#about .wrapper .inner .supported-cinemas {
    width: 100%;
  }
}
section#about .wrapper .inner h4 {
  color: #e9d2bf;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 50px 0 40px;
}
@media (min-width: 1261px) {
  section#about .wrapper .inner h4 {
    margin: 39px 0 24px;
  }
}
section#about .wrapper .inner a {
  margin: 5px 20px;
  position: absolute;
}
section#download {
  padding: 20px 0;
}
section#download .inner {
  float: none;
}
@media (min-width: 1261px) {
  section#download .inner {
    display: inline;
    float: left;
    width: 73.4375%;
    margin: 0 0.78125%;
    margin-left: 13.28125%;
  }
}
section#download h2 {
  color: #E8DACA;
  text-align: center;
}
@media (min-width: 1261px) {
  section#download h2 {
    font-size: 50px;
    margin-top: 40px;
    text-align: left;
  }
}
section#download .row {
  margin-top: 55px;
  text-align: center;
}
@media (min-width: 721px) {
  section#download .row .ios {
    margin-bottom: 25px;
  }
  section#download .row .ios-small-inactive {
    width: 460px;
    height: 166px;
    background-position: -2px -2px;
  }
  section#download .row .android-small-inactive {
    width: 460px;
    height: 166px;
    background-position: -2px -170px;
  }
  section#download .row .ios-small-inactive:hover {
    width: 460px;
    height: 166px;
    background-position: -464px -2px;
  }
  section#download .row .android-small-inactive:hover {
    width: 460px;
    height: 166px;
    background-position: -464px -170px;
  }
}
@media (min-width: 1261px) {
  section#download .row {
    margin-left: 32px;
  }
  section#download .row .ios {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
section#reviews {
  margin-top: 3%;
}
section#reviews .wrapper {
  background: #1c1c1c;
  width: 100%;
}
section#reviews .inner .row {
  margin: 15% 0;
}
@media (min-width: 721px) {
  section#reviews .inner .row {
    margin: 5% 0;
  }
}
@media (min-width: 1261px) {
  section#reviews .inner {
    display: inline;
    float: left;
    width: 73.4375%;
    margin: 0 0.78125%;
    margin-left: 19.53125%;
  }
}
section#reviews span.clear {
  display: block;
  clear: both;
  margin-top: 5%;
}
section#reviews .comment-item {
  *zoom: 1;
  margin: 20px 0;
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
}
section#reviews .comment-item:before,
section#reviews .comment-item:after {
  content: "";
  display: table;
}
section#reviews .comment-item:after {
  clear: both;
}
section#reviews .comment-item:before,
section#reviews .comment-item:after {
  display: table;
  content: "";
  line-height: 0;
}
section#reviews .comment-item:after {
  clear: both;
}
@media (min-width: 721px) {
  section#reviews .comment-item {
    display: inline;
    float: left;
    width: 48.4375%;
    margin: 0 0.78125%;
  }
}
section#reviews .comment-item img {
  display: inline;
  float: left;
  width: 23.4375%;
  margin: 0 0.78125%;
  margin: 10px 0;
  max-width: 49px;
}
section#reviews .comment-item img.stars {
  max-width: none;
  width: 110px;
  float: right;
  display: inline-block;
  height: 22px;
  margin: 0;
}
@media (min-width: 1261px) {
  section#reviews .comment-item img.stars {
    float: none;
  }
}
section#reviews .comment-item .comment-message {
  display: inline;
  float: left;
  width: 73.4375%;
  margin: 0 0.78125%;
}
section#reviews .comment-item .comment-message p {
  margin: 10px 0 10px 30px;
}
section#reviews .comment-item .comment-message .author {
  padding: 0 0 0 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
section#subfooter .wrapper {
  width: 320px;
  margin: auto;
  *zoom: 1;
}
section#subfooter .wrapper:before,
section#subfooter .wrapper:after {
  content: "";
  display: table;
}
section#subfooter .wrapper:after {
  clear: both;
}
section#subfooter .wrapper:before,
section#subfooter .wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
section#subfooter .wrapper:after {
  clear: both;
}
@media (min-width: 721px) {
  section#subfooter .wrapper {
    width: 720px;
  }
}
@media (min-width: 1261px) {
  section#subfooter .wrapper {
    width: 1260px;
  }
}
section#subfooter .wrapper .inner {
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
  padding: 0 0 30px;
}
section#subfooter .wrapper .inner .row {
  display: block;
  width: 101.5625%;
  margin: 0 -0.78125%;
  *zoom: 1;
}
section#subfooter .wrapper .inner .row:before,
section#subfooter .wrapper .inner .row:after {
  content: "";
  display: table;
}
section#subfooter .wrapper .inner .row:after {
  clear: both;
}
section#subfooter .wrapper .inner .row:before,
section#subfooter .wrapper .inner .row:after {
  display: table;
  content: "";
  line-height: 0;
}
section#subfooter .wrapper .inner .row:after {
  clear: both;
}
section#subfooter .wrapper .inner .row .thankyou {
  background: url('../img/thankyou.png') center center no-repeat;
  display: block;
  margin: 80px auto 50px;
  width: 246px;
  height: 223px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
@media (min-width: 721px) {
  section#subfooter .wrapper .inner .row .thankyou {
    background: url('../img/thankyou-desktop.png') center center no-repeat;
    width: 340px;
    height: 313px;
  }
}
section#subfooter .wrapper .inner .row .gs {
  display: block;
  width: 200px;
  height: 88px;
  margin: auto;
  background: url('../img/logo-gs.png') center center no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
section#subfooter .wrapper .inner .row .gs:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: scale(1.1);
  /* Saf3.1+, Chrome */
  -moz-transform: scale(1.1);
  /* FF3.5+ */
  -ms-transform: scale(1.1);
  /* IE9 */
  -o-transform: scale(1.1);
  /* Opera 10.5 */
  transform: scale(1.1);
}
section#subfooter .wrapper .inner .row h3 {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #C83D37;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0 40px;
  text-align: center;
  padding: 0;
}
section#subfooter .wrapper .inner .row p {
  font-size: 14px;
  line-height: 23px;
  color: #e8daca;
  text-align: center;
}
section#subfooter .wrapper .inner .row p a {
  color: #e8daca;
}
section#subfooter .wrapper .inner .row p a:hover {
  text-decoration: none;
}
section#subfooter .wrapper .inner .row p.copy {
  color: #62615b;
}
@media (min-width: 721px) {
  section#subfooter .wrapper .inner {
    width: 480px;
    float: none;
    margin: auto;
    display: block;
  }
}
footer {
  background: #1c1c1c;
  border-top: 1px solid  #3e3e3e;
}
footer .wrapper {
  width: 320px;
  margin: auto;
  *zoom: 1;
  text-align: center;
}
footer .wrapper:before,
footer .wrapper:after {
  content: "";
  display: table;
}
footer .wrapper:after {
  clear: both;
}
footer .wrapper:before,
footer .wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
footer .wrapper:after {
  clear: both;
}
@media (min-width: 721px) {
  footer .wrapper {
    width: 720px;
    text-align: left;
  }
}
@media (min-width: 1261px) {
  footer .wrapper {
    width: 1260px;
  }
}
footer .wrapper .inner {
  display: inline;
  float: left;
  width: 98.4375%;
  margin: 0 0.78125%;
}
@media (min-width: 1261px) {
  footer .wrapper .inner {
    display: inline;
    float: left;
    width: 73.4375%;
    margin: 0 0.78125%;
    margin-left: 13.28125%;
    margin-right: 13.28125%;
  }
}
footer .wrapper .inner .row {
  color: #62615b;
  font-size: 14px;
  line-height: 25px;
  margin: 15px 0;
}
footer .wrapper .inner .row a {
  color: #62615b;
}
footer .wrapper .inner .row a:hover {
  color: #fff;
}
footer .wrapper .inner .row .right-social {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 721px) {
  footer .wrapper .inner .row .right-social {
    float: right;
    width: 20px;
    text-align: left;
    margin-top: 0;
  }
}
footer .wrapper .inner .row .right-social a {
  display: inline-block;
  width: 20px;
  height: 21px;
  margin: 0 5px;
}
footer .wrapper .inner .row .right-social a#social-fb {
  background: url('../img/logo-fb.png') top left no-repeat;
}
footer .wrapper .inner .row .right-social a#social-fb:hover {
  background-position: bottom left;
}
footer .wrapper .inner .row .right-social a#social-tw {
  background: url('../img/logo-twitter.png') top left no-repeat;
  height: 19px;
}
footer .wrapper .inner .row .right-social a#social-tw:hover {
  background-position: bottom left;
}
footer .wrapper .inner .row .right-social a#social-gplus {
  background: url('../img/logo-gplus.png') top left no-repeat;
  height: 20px;
  width: 22px;
}
footer .wrapper .inner .row .right-social a#social-gplus:hover {
  background-position: bottom left;
}
footer .wrapper .inner .row .right-social a#social-pin {
  background: url('../img/logo-pin.png') top left no-repeat;
}
footer .wrapper .inner .row .right-social a#social-pin:hover {
  background-position: bottom left;
}
.bg-footer {
  background: #1c1c1c url('../img/bg-subfooter-desktop.jpg') center 0 / cover no-repeat;
}
.not-mobile {
  display: none !important;
}
@media (min-width: 721px) {
  .not-mobile {
    display: inline-block !important;
  }
}
.mobile-only {
  display: block !important;
}
@media (min-width: 721px) {
  .mobile-only {
    display: none !important;
  }
}
